.Input {
    margin-bottom: 15px;
}

.Input label {
    margin-bottom: 10px;
    padding: 0;
    display: block;
    font-weight: blod;
    color: rgba(255, 255, 255, 1);
}

.Input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 7px;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);

}

.Input span {
    color: #f01f30;
    font-style: 12px;
    font-weight: bold;
}

.Input.invalid label{
    color: #f01f30;
}